/* Importando a fonte externa Teko de um link do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');


*{
    margin: 0;
    padding: 0;
    /*Assegura q padding e margin seja incluidos nas dimensões totais do elemento*/
    box-sizing: border-box;
}

.logo{
    font-family: Teko;
    font-size: 2rem;
    color: rgb(235, 238, 240);
}



  .card-novo{
    display: flex;
    overflow: scroll;
    gap: 3rem;
  }

  /*Removendo a barra de scrool*/
  .card-novo :-webkit-scrollbar{
    display: none;
  }

  .receitas{
    /*Organizando em colunas*/
    display: flex;
    flex-direction: column;
    max-width: 1120px;
    padding: 2.5rem 2rem;
    margin: auto;
  }

  .cabecalho-card{
    background-color: #534743;
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }


  .card{
    margin-left: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 10px 0px 20px rgba(255, 255, 255, 0.7);
  }
.mapa{
    max-width: 600px;
    height: 400px;
    background-image: url('../img/mapa.png');
 
    background-repeat:no-repeat ;
   background-size:cover ;
   margin: 20px auto;
   position: relative;


}
.icone{
    position: absolute;
    width: 30px; 
    height: 30px;
    background-color: #ff6347;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    font-size: 18px;


}
.icone1{
    top: 40px;
    left: 100px;

}

.icone2{
    top: 100px;
    left: 220px;

}
.div-hover{
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    width: 50px;
    height: 400px;
}
.icone:hover .div-hover{
    display: block;
    position: fixed;
    top: 15%;
}